body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

h1 {
  color: #C71585;
}

.chat-inputs-div {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#messages {
  list-style-type: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
  border: none;
  border-radius: 8px;
}

#messages li {
  margin: 5px 0;
}

#inputMessage {
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #324AB2;
  cursor: pointer;
}

#backButton {
  margin-right: 50px;
}

button:hover {
  background-color: #C71585;
}