body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.chat-rooms-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #C71585;
}

.chat-room-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #324AB2;
  border-radius: 8px;
  width: 180px;
  height: 40px;
  margin: 20px;
  font-size: 24px;
  color: #B0E0E6;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}